    <head>
        <style>
            table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }
            
            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }
            
            tr:nth-child(even) {
              background-color: #dddddd;
            }
            </style>
    </head>
  
  <h1>All Users</h1>
<table>
    <tr>
        <th>name</th>
        <th>email</th>
        <th>age</th>
    </tr>
    {% for i in users %}
<tr>
    <td>{{i.first_name}}</td>
    <td>{{i.email}}</td>
    <td>{{i.age}}</td>
</tr>
    {% endfor %}

</table>
    



<form action="POST" method="/p">
    {% csrf_token %}
    <h3>add a user</h3>
    <label for="first_name">Name</label>
    <input type="text" name="first_name"><br><br>
    <label for="last">email</label>
    <input type="text" name="email"><br><br>
    <label for="last">adress</label>
    <input type="number" name="adress">
<button type="submit" >add</button>
</form>


