<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>TV show {{show.id}}</h2>
    <p> title : {{show.title}} </p>
    <p> network : {{show.network}} </p>
    <p> releasedate : {{show.release_date}} </p>
    <p> description : {{show.description}} </p>
    <p> last_update : {{show.updated_at}} </p>
    <a href="/">go back</a><br><br>
    <a href="/shows/{{show.id}}/edit">edit</a> |  <a href="">delete</a>
    
</body>
</html>