<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{{ title }}</title>
		{% load static %}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<script src="{% static 'js/script.js' %}"></script>
	</head>
	<body>
		<main class="container">
			<div class="jumbotron align-content-center">
				<h1 class="mb-3 pb-2 text-center">Welcome to the {{ title }}!</h1>
				<p class="h6 text-center font-italic">I am thinking of a number between 1 and 100</p>
				<p class="h5 mb-4 text-center lead">
					Take a guess!
				</p>
				<div style="max-width: 400px;" class="{{ alertVisibility }} mx-auto alert {{ alertColor }}">
					<h1 class="text-center">{{ alertHeader }}</h1>
					<p class="lead text-center">{{ alertMessage }}</p>
					<a href="/play-again" style="max-width: 180px" class="{{ paBtnVisibility }} mx-auto"><button type="button" class="btn btn-primary d-block w-100">Play again!</button></a>
					<div class="{{ addLeaderFormVisibility }} mx-auto">
						<form action="/add-to-leaderboard" method="POST">
							{% csrf_token %}
							<div class="form-group row">
								<label for="nameInput" class="col-form-label">Enter Name: </label>
								<div>
									<input type="text" class="form-control" id="nameInput" name="name" placeholder="Jane Doe">
								</div>
							</div>
							<div class="row justify-content-center">
								<button type="submit" class="px-3 py-2 btn btn-primary">Submit</button>
							</div>
						</form>
					</div>
				</div>
				<div style="max-width: 180px" class="{{ guessFormVisibility }} mx-auto mb-5">
					<form action="/guess" method="POST">
						{% csrf_token %}
						<div class="d-flex flex-column justify-content-center">
							<input type="text" class="form-control mb-3" id="guessInput" name="guessVal" placeholder="###">
							<button type="submit" class="px-3 py-2 btn btn-primary">Submit</button>
						</div>
					</form>
				</div>
				<div class="row justify-content-center">
					<a href="/leaderboard"><button type="button" class="px-3 py-2 btn btn-info">View High Scores</button></a>
				</div>
			</div>
		</main>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>