<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        .color0{
            background-color: {{col1}};
        }
        .color1{
            background-color: {{col2}};
        }
    </style>
    <title>Document</title>
    </head>
<body>
    <table>
        {%for i in range(down):%}
            <tr>
                {%for j in range(across):%}
                <td class="color{{ (i+j)%2 }}"></td>
                {%endfor%}
            </tr>
        
        {%endfor%}
    </table>
</body>
</html>