<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %} 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>index</title>
    
</head>
 <head><h1>WELCOME</h1></head>
            <body style="display: flex;justify-content: space-between;">
                
                        <table style="border: 2px solid black;">
                                <form action="/register" method="POST">
                                    {% csrf_token %}
                                    <tr>
                                        <td><label for="first_name">First Name:</label></td>
                                        <td><input type="text" id="first_name" name="first_name" required></td>
                                    </tr>
                                    <tr>
                                        <td><label for="last_name">Last Name:</label></td>
                                        <td><input type="text" id="last_name" name="last_name" required></td>
                                    </tr>
                                    <tr>
                                        <td><label for="email">Email:</label></td>
                                        <td><input type="email" id="email" name="email" required></td>
                                    </tr>
                                    <tr>
                                        <td><label for="password">Password:</label></td>
                                        <td><input type="password" id="password" name="password" required></td>
                                    </tr>
                                    <tr>
                                        <td><label for="Confirm Password:">Confirm PW:</label></td>
                                        <td><input type="password" id="cpassword" name="cpassword" required></td>
                                    </tr>
                                    <tr>
                                        <td><input type="submit" value="register"></td>
                                    </tr>
                                </form>
                    
                </table >
                {% if messages %}
                        <ul class="messages">    
                            {% for message in messages %}    
                                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                            {% endfor %}
                        </ul>
                        {% endif %}
                <table style="border: 2px solid black;">
                    <form action="/login" method="POST">
                        {% csrf_token %}
                        <tr>
                            <td><label for="email">Email:</label></td>
                            <td><input type="email" id="email" name="email" required></td>
                        </tr>
                        <tr>
                            <td><label for="password">Password:</label></td>
                            <td><input type="password" id="Password" name="password" required></td>
                        </tr>
                        <tr>
                            <td><input type="submit" value="login"></td>
                        </tr>
                </table>
                
            </body>
</html>