<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for i in ninja %}
    <p>{{i.first_name}}</p>
            
    {%endfor%}
    {%for i in dojos%}
    {{i.name}} {{i.city}} {{i.state}}
    <ul>
        <li>{%for x in dojos.ninjas.values%}
            {{x.first_name}} {{x.last_name}}
            {%endfor%}
        </li>
    </ul>
    <br>
    {%endfor%}
    <form action="dojos" method="POST">
        {% csrf_token %}
        <h1>Add A Dojo</h1>
        <p>name:<input type="text" name="dojo_name"></p>
        <p>city:<input type="text" name="dojo_city"></p>
        <p>state:<input type="text" name="state"></p>

            
    <button type="submit">add</button>   
    </form>





    <form action="/ninja" method="POST">
        {% csrf_token %}
        <h1>Add A Ninja</h1>
        <p>first_name:<input type="text" name="first_name"></p>
        <p>last_name:<input type="text" name="last_name"></p>
        <!-- <button type="submit">add</button> -->
        <p>dojo:
            <select name="dojo_menu"> 
        {%for i in dojos%}
        <option value="{{i.id}}">{{i.id}}</option>
        {%endfor%}
        </select>
        </p>
        <br>
    <button type="submit" value="Submit">add</button>

       
    </form>
</body>
</html>